.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
    text-align: center;
  }

  .finalScore{
   
    border: 6px solid gray;
    width: fit-content;
    margin: auto;
  }